<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header links -->    
        {{>headerlinks}}
    <!-- header links-->    
</head>
<body>
    <!-- main header -->
        {{>header}}
    <!-- main header -->

    <!-- content -->
        <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-12 col-12 mx-auto">
                    <div class="row">
                        <!-- left side div -->
                        <div class="col-md-12 col-12 main-container align-item">
                            <figure class="img-fluid">
                                <img src="./images/404page.webp" alt="no image">
                            </figure>
                            <p>welcome to weather app</p>    
                            <h1>{{errorMessage}}</h1>
                            <a href="/"><button>Go back</button></a>
                        </div>
                        <!-- right side div -->
                    </div>
                </div>
            </div>
        </div>
    <!-- content -->

    <!-- footer -->
    {{>footer}}
    <!-- footer -->
</body>
</html>