<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header links -->    
        {{>headerlinks}}
    <!-- header links-->    
</head>
<body>
    <!-- main header -->
        {{>header}}
    <!-- main header -->

    <!-- content -->
        <div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!-- left side div -->
                        <div class="col-md-6 col-12 main-container align-item">
                            <figure>
                                <img src="./images/developerImage.png" alt="no image">
                            </figure>
                        </div>
                        <!-- left side div -->
    
                        <!-- right side div -->
                        <div class="col-md-6 col-12 main-container">
                            <p>welcome to weather app</p>    
                            <h1>I am a <span class="text-color">Mean Stack Developer </span>and a freelancer</h1>
                            <a href="https://github.com/thakurprabhat"><button>About me</button></a>
                        </div>
                        <!-- right side div -->
                    </div>
                </div>
            </div>
        </div>
    <!-- content -->

    <!-- footer -->
    {{>footer}}
    <!-- footer -->
</body>
</html>